{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup and Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <form class="form" id="signup-form" action="log" method="POST">
            {% csrf_token %}
            <h3>Login</h3>
            <div class="form-group">
                <label for="signup-username">Username</label>
                <input type="text" id="signup-username" placeholder="Enter username" name="username" required>
            </div>
            <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" id="signup-password" placeholder="Enter password" name="password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
    <div class="links">
      <a href="{% url 'signup' %}" class="btn-link">Signup</a>
    </div>
    <div class="messages">
        {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
        {% endfor %}
    </div>
</body>
</html>
